* {
    margin: 0;
    padding: 0;
}

header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #383733;
    height: 25%;
    width: 100%;
}

.logo h1 {
    color: white;
    font-family: 'Brush Script MT', cursive;
    cursor: pointer;
    font-size: 3rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    background-color: #383733;
    color: white;
    padding: 0.625rem;
    cursor: pointer;
    text-decoration: none;
}

nav a:hover {
    background-color: #878276;
    color: black;
    border-radius: 10px;
}

ul {
    list-style-type: none;
}

#skills {
    background-color: #878276;
    color: black;
    border-radius: 10px;
}

main {
    background-color: black;
    color: white;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    color: white;
}

.skill {
    border: solid;
    color: white;
}

.skill img {
    width: 10rem;
    height: 8rem;
}

.data_portfol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data_portfol a {
    text-decoration: none;
    color: white;
}

.web {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}



.web img {
    width: 10rem;
    height: 8rem;
}


footer {
    display: flex;
    flex-direction: row; 
    background-color: #383733;
    justify-content: center;
    align-items: center;
    color: white;
    height: 3.75rem;
}

@media (max-width: 825px) {
    header {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #383733;
        height: 25%;
        width: 100%;
    }
}